alembic==1.12.1
aniso8601==9.0.1
blinker==1.6.2
click==8.1.7
colorama==0.4.6
Flask==2.2.5
Flask-Cors==3.0.10
flask-marshmallow==0.15.0
Flask-Migrate==3.1.0
Flask-PyMySQL==0.2.4
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-Login==0.6.2 
Flask-Mail==0.9.1 
greenlet==2.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.3.3
MarkupSafe==2.1.3
marshmallow==3.19.0
packaging==23.2
PyMySQL==1.0.2
python-dotenv==0.21.1
pytz==2023.3
six==1.16.0
typing_extensions==4.8.0
Werkzeug==2.2.3
cryptography==41.0.3
