body {
    margin:0;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
}
em {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}
.navbar_logo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_logo img {
    margin-left: 150px;
    width: 210px;
    height: auto;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 27px;
    font-weight: 500;
    gap: 100px;
}
.navbar_menu li {
    padding: 8px 20px;
}
.navbar_menu li:hover {
    background-color: #e3dede;
    border-radius: 10px;
}

.navbar_member {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_member li {
    padding: 8px 14px;
}
.navbar_member li:hover {
    background-color: #e3dede;
    border-radius: 10px;
}
.navbar_signup {
    margin-top: 13px;
    margin-right: 10px;
}
.navbar_login {
    font-size: 20px;
    margin-top: 8px;
    margin-right: 50px;
    font-weight: 500;
    border: 2px solid #000;
    border-radius: 10px;
}
.navbar_togglebtn {
    display: none;
    position:absolute;
    top: 32px;
    right: 32px;
    font-size: 24px; 
}

@media screen and (max-width: 1040px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu {
        font-size:16px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0px
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_member {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_member li {
        width: 100%;
        text-align: center;
    }
    .navbar_togglebtn {
        display: block;
    }
    .navbar_menu.active,
    .navbar_member.active {
        display: flex;
    }
    .navbar_signup {
        margin-left: 10px;
    }
    .navbar_login {
        margin-left: 50px;
        font-size:16px;
        border: none;
        border-radius: none;
    }
}
.register_container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
    width: 65%;
    height: 650px;
    text-align: center;
}

.register_container h2 {
    font-size: 22px;
    margin-bottom: 30px;
}

.register_container label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], 
textarea, 
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 200px;
    resize: none;
}


#submit_btn {
    background-color: #222;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}

#submit_btn:hover {
    background-color: #111;
}